*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-image: url("smpmurni7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

/* Header */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.header h2 {
    font-size: 25px;
}

/* Navbar */
.container-navbar {
    background-color: white;
    width: 100%;
}

.ul-navbar {
    background-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 0;
}

.li-navbar {
    padding: 20px 70px;
    color: white;
    font-size: 20px;
    position: relative;
}

.a-navbar {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
.container-footer {
    height: auto;
    padding: 20px;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-footer {
    font-size: 24px;
    color: #fff;
}

/* Section */
.container-section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.section {
    margin-bottom: 10px;
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.article h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: darkslategray;
}

.article p {
    font-size: 16px;
    line-height: 1.6;
    
}

/* Card dan Kolom */
.column {
    width: 100%;
    padding: 10px
}

.column.middle {
  width: 100%;
  font-size: 2vh;
  text-align: center;
}

.fakeimg {
    width: 25%;
    padding: 10px;
}

.fakeimg1 {
    width: 50%;
    padding: 10px;
}

.card {
    background-color: transparent;
    padding: 20px;
    margin-top: 20px;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: darkslategray;
    list-style: none;
    padding: 10px 0;
    border-radius: 10px;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.dropdown-menu li a:hover {
    background-color: black;
}

/* Media Query untuk Responsif */
@media screen and (max-width: 768px) {
    .ul-navbar {
        align-items: center;
    }

    .li-navbar {
        margin: 10px 0;
        font-size: 18px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header h2 {
        font-size: 20px;
    }

    .container-content {
        height: 40vh;
        background-attachment: scroll; /* agar di HP tidak patah */
    }

    .h1-footer {
        font-size: 18px;
    }
}
